body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Dosis', sans-serif;
    background: url(12.jpg) no-repeat center center fixed;; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  font-size: 3rem;
  color:  #dcdcdc;
}



footer {
    width:100%;
    height:130px;
    position:absolute;
    bottom:0;
    left:0;
    background:#dcdcdc;
}



.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
  .btn-primary {
background-color:#dcdcdc;
border-color:#dcdcdc;
  }
  .btn-primary:hover {
    background-color: #808080;
    border-color: #808080;
    border-width: 4px;
  }
.btn-xl{
  padding: 1rem 2rem;
}
